@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
    font-size: 62.5%;

    --bg: #FFFFFF;
    --text-color: hsla(240, 6%, 21%, 1);
    --fill-colors: #323238;
    --primary-color: hsla(240, 9%, 89%, 1);
    --secondary-color: hsla(194, 97%, 31%, 1);
    --animation-duration: 0.3s
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    display: grid;
    min-height: 100vh; 
    place-items: center;

    background-color: var(--bg);
}

section{
    position: absolute;
    top: 6rem;
    right: 6rem;
}

main {
    display: flex;
    gap: 19rem;
}

#counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#timer {
    margin-top: -8vh;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12.7rem;
    line-height: 14.8rem;

    display: flex;

    color: var(--text-color);
}

#controls {
    display: flex;
    gap: 4rem;
}

svg path{
    fill: var(--fill-colors);
}

.hide {
    display: none;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

#cards-music{
    display: grid;
    grid-template-areas: 
    'A B'
    'C D';
    gap: 3.2rem;
}

#cards-music:nth-child(1){
    grid-area: A;
}

#cards-music:nth-child(2){
    grid-area: B;
}

#cards-music:nth-child(3){
    grid-area: C;
}

#cards-music:nth-child(4){
    grid-area: D;
}

.card{
    background-color: var(--primary-color);
    padding: 4.7rem;
    width: 14rem;
    height: 15rem;

    border-radius: 2.4rem;

    padding: 4rem;
    transition-duration: var(--animation-duration);
}

.active {
    background-color: var(--secondary-color);
    transition-duration: var(--animation-duration);
}

.active svg path{
    fill: white;
    transition-duration: var(--animation-duration);
}

@media only screen and (max-width: 900px)  {
    main{
        flex-direction: column;
        gap: 5rem
    }

    #cards-music{
        gap: 2rem;
    }
    
}